/******************************************************************
Employee Page Styles
******************************************************************/


.profile-info {
	text-align: left;
}

.profile-header {
	margin-bottom: 40px;
	padding-top: 65px;
	text-align: left;

	h1 {
		margin: 0;
		margin-top: 20px;
	}
}

.profile-content {
	margin-top: 0;

	h3:first-child {
		margin-top: 0;
	}
}

// Post View
.employee-post {
	text-align: center;
	padding: 10px;
}

img.broker-profile-picture {
	width: 100%;
	margin-bottom: 10px;
}

