/******************************************************************
Broker Page Styles
******************************************************************/

.type-broker {
	.h1-profile {
		color: $dgray;
		font-size: 3em;
		text-align: left;
		text-transform: capitalize;
		margin: 0;
	}

	.profile-info {
		font-size: 1em;
		text-align: center
	}

	aside {

		> div {
			margin-bottom: 25px;
		}

		img {
			width: 100%;
		}
	}

	// Specific to broker/staff
	.profile-header {
		margin-top: 80px;
		margin-bottom: 40px;
	}
}

// Post View
.employee {
	text-align: center;
	display: inline-block;

	&:last-child {
		clear: both;
	}
}

.broker-profile-picture {
	padding: 20px;
	width: 100%;
}

