/******************************************************************
Broker Page Styles
******************************************************************/

.type-employee {

	.profile-info {
		font-size: 1em;
		text-align: left;

		div {
			padding: 2px 0;

			a {
				padding-top: 3px;
				text-decoration: none;
			}
		}
	}

	h3 {
		margin-top: 30px;
	}

	aside {

		> div {
			margin-bottom: 25px;
		}

		img {
			width: 100%;
		}
	}

	// Specific to broker/staff
	.profile-header {
		margin-bottom: 40px;
		padding-top: 50px;
		text-align: left;

		h1 {
			margin: 20px 0 0px 0;
		}

		a {
			font-size: 1em;
		}
	}
}

.profile-content {
	margin-top: 0;

	h3:first-child {
		margin-top: 0;
	}
}

.license-number {
	font-size: 0.8em;
	color: $gray;
}

.v-card {
	margin-bottom: 5px;
}
// Post View
.employee {
	text-align: center;
	display: inline-block;
	padding: 10px;

	&:last-child {
		clear: both;
	}

	a {
		font-size: 0.8em;
	}
}

.broker-profile-picture {
	width: 100%;
	margin-bottom: 10px;
}

