/******************************************************************
PATRIAL CASE STUDY
******************************************************************/

.cs-h1 {
	font-size: 3em;
	text-align: left;
	text-transform: capitalize;
	margin: 0;
	text-shadow: 5px 1px 10px rgba( $black, 0.5);
}

.cs-section {
	margin: 50px auto;
	
	aside {
		margin: 30px 0;
	}
}

.cs-icon {
	background-image: url('../images/bg/pattern.svg');
	background-size: 30%;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	box-shadow: 5px 5px 20px rgba( $black, 0.2);
	margin: 20px;

	img {
		width: 33%;
		margin: 33% 0;
	}
}
// Case Study Icon that has the logo inside of it
.case-study-box {
	
}

.case-study-icon {
	display: inline-flex;
	flex-direction: row;
	border: 5px solid $lgray;
	border-radius: 5px;
	text-align: center;
	transition: $trans;
	height: 100px;
	width: 100px; // prevents the collapse of the border on SVGs

	&:hover {
		border: 5px solid $blue;
		transition: $trans;
	}

	img {
		flex-grow: 1;
		align-self: center;
		max-width: 90px;
	}
}

.download-icon {
	background-image: url('../images/icons/icon-download.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	float: right;
	margin-bottom: 30px;
}

.cs-subtitle {
	margin-top: 0;
}

.client-logo {
	width: 20px;
	display: inline-block;
	padding: 30px;
}

.quick-facts {
	border: 2px solid $blue;
	padding: 40px;
	border-radius: 10px;
	text-align: center;
	font-size: 1em;
}

.client-quote {
	margin: 30px 0;
	position: relative;
	border: 2px solid $blue;
	padding: 50px 40px;
	border-radius: 10px;
	text-align: center;


	> p {
		&::before {
			content:'"';
			font-size: 2em;
			line-height: 0.5em;
			color: $gray;
			font-family: Times;
		}

		&::after {
			content:'"';
			font-size: 2em;
			line-height: 0.5em;
			color: $gray;
			font-family: Times;
		}
	}
}

.client-quote-person {
	position: absolute;
	right: 30px;
	bottom: 10px;
	font-size: 0.8em;
	text-align: right;

	p {
		margin: 0;
	}
}






