/******************************************************************
PATRIAL CASE STUDY
******************************************************************/

.cs-section {
	margin: 20px auto;
	padding-left: 20px;

	aside {
		float: right;
	}
}

.cs-aside {

	aside {
		margin-bottom: 40px;
	}

	p {
		font-size: 0.8em;
	}	
}

.cs-broker-pic {
	width: 100px;
}

.case-study-icon {
	display: inline-flex;
	flex-direction: row;
	border: 5px solid $lgray;
	border-radius: 5px;
	text-align: center;
	transition: $trans;
	height: 100px;
	width: 100px; // prevents the collapse of the border on SVGs

	&:hover {
		border: 5px solid $blue;
		transition: $trans;
	}

	img {
		flex-grow: 1;
		align-self: center;
		max-width: 90px;
	}
}

.download-icon {
	background-image: url('../images/icons/icon-download.svg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	float: right;
	margin-bottom: 30px;
}

.cs-logo-on-page {
	float: left;
	padding-right: 25px;
}

.client-logo {
	width: 20px;
	display: inline-block;
	padding: 30px;
}

.client-quote {
	font-size: 1em;
	margin: 30px 0;
	border: 2px solid $blue;
	padding: 10px;
	border-radius: 10px;
	text-align: left;


	> p {
		&::before {
			content:'"';
			font-size: 4em;
			line-height: 0.5em;
			color: $gray;
			font-family: Times;
		}

		&::after {
			content:'"';
			font-size: 4em;
			line-height: 0.5em;
			color: $gray;
			font-family: Times;
		}
	}
}

.client-quote-person {
	font-size: 0.8em;
	text-align: right;

	p {
		margin: 0;
	}
}






