// This is my shame
// -Things that are hacky
// -Things that can be consolidated
// -Things that I am ashamed of, but they work...for now.


// --------------- Homepage Styles ----------------

	.uvp {
		p {
			border: 2px solid $blue;
			padding: 40px;
			border-radius: 10px;
			margin: 80px auto;
			font-size: 1.4em;
			text-align: center;
		}
	}

	.selling-point {
		// text-align: center;
		padding: 20px 40px;

		img {
			width: 50px;
			margin: 0 auto;
		}
	}

	#need-help {
		margin: 0px;
		background-color: $dblue;
		color: white;
		text-align: center;
		padding: 20px 0;

		.fa-heart {
			color: $pink;
		}
	}

/*********************
SERVICE GRID STYLES
*********************/

.service-grid {
	
	.service-box {
		border: 5px solid $lgray;
		border-radius: 10px;
		margin-top: 20px;
		margin-bottom: 10px;
		padding: 20px 5px;
		margin-right: 10px;
		text-align: center;
		position: relative;
	}
}

// ------------- I need to unify font styles -----

// this is for the service panels main title
h4 {
	a {
		display: inline;
		border-bottom: 1px solid $dgray;
		font-weight: 700;
		text-transform: uppercase;
		color: $dgray;
	}
}
