/******************************************************************
Stylesheet: Main Stylesheet
******************************************************************/

// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

@import "partials/variables";
@import "partials/typography";
@import "partials/functions";
@import "partials/mixins";
@import "partials/grid";

/*********************
IMPORTING MODULES
*********************/

@import "modules/alerts";
@import "modules/buttons";
@import "modules/forms";
@import "modules/modules";

/*********************
BASE (MOBILE) SIZE
*********************/

// styles in base.scss
@import "breakpoints/base";

/*********************
PAGE IMPORTS
**********************/
@import "pages/case-study";
@import "pages/broker";
@import "pages/specialty";
@import "partials/global_images";

/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

/*********************
DESKTOP
*********************/
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "breakpoints/1030up";

} // end of media query

/*********************
HUGE SCREEN
*********************/
@media only screen and (min-width: 1500px) {

	// styles in 1030up.scss
	@import "breakpoints/1500up";

} // end of media query

/*********************
PRINT STYLESHEET
*********************/
@media print {

	// styles in print.scss
	@import "partials/print";

}
