/* Global Backgrounds */

// These are backgrounds that are dished up as 
// standards for different industries and 
// services that we offer

/* --desktop */

.specialty-drawing {

	&--Office {
		background-image: url('../images/specialties/office/specialty-office-panel-1.svg');
	}

	&--Retail {
		background-image: url('../images/specialties/retail/specialty-retail-panel-1.svg');
	}

	&--Industrial {
		background-image: url('../images/specialties/industrial/specialty-industrial-panel-1.svg');
	}

	&--Land {
		background-image: url('../images/specialties/land/specialty-land-panel-1.svg');
	}

	&--Multifamily {
		background-image: url('../images/specialties/multifamily/specialty-multifamily-panel-1.svg');
	}
}

.page {
	&--Case-Studies {
		background-image: url('../images/case-studies-desktop.jpg');
		@media (max-width: 767px) {
			background: transparent;
			height: auto;
		}
	}
}

.industry {
	&--Grocery {
		background-image: url('../images/specialties/grocery.jpg');
	}
	
	&--Small-Business {
		background-image: url('../images/specialties/small-business.jpg');
	}
	
	&--Restaurant {
		background-image: url('../images/specialties/restaurant.jpg');
	}
}

// body.post-type-archive-research-report #page-header {
// 	background-image: url('../images/research-desktop.jpg');
// }

.header-pattern {
	background-image: url('../images/bg/pattern.svg');
	background-size: 10%;
	background-repeat: repeat;
	background-position: center;
}