/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: block;
  border: 2px solid;
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.5em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button

#cta-solid-white {
  @extend %btn;
  color: $gray;
  border-color: $white;
  background-color: $white;
  font-weight: 600;
  transition: 0.5s;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
    border-color: darken($blue, 4%);
    transition: 0.5s;
  } // end hover

  &:active {
    background-color: darken($blue, 4%);
  } // end active
}

#cta-border {
  @extend %btn;
  color: $white;
  background-color: darken($gray, 5%);
  font-weight: 600;

  &:hover,
  &:focus {
    background-color: lighten($gray, 4%);
    transition: 0.5s;
  } // end hover

  &:active {
    background-color: darken($gray, 5%);
  } // end active
}

#cta-border-gray {
  @extend %btn;
  color: $gray;
  background-color: none;
  border-color: $gray;

  &:hover,
  &:focus {
    background-color: lighten($gray, 2%);
    transition: 0.5s;
  } // end hover

  &:active {
    background-color: darken($gray, 5%);
  } // end active
}

#cta-border-green {
  @extend %btn;
  color: $white;
  background-color: none;
  border-color: $green;

  &:hover,
  &:focus {
    background-color: lighten($green, 2%);
    transition: 0.5s;
  } // end hover

  &:active {
    background-color: darken($green, 5%);
  } // end active
}

#cta-underline-gray {
  text-decoration: none;
  padding-bottom: 3px;
  color: $gray;
  background-color: none;
  border: none;
  border-bottom: 1px solid $gray;
  font-weight: 600;
  
  &:hover,
  &:focus {
    color: lighten($gray, 20%);
    transition: 0.5s;
  } // end hover

  &:active {
    color: darken($gray, 20%);
  } // end active
}

.header-link {
  color: $gray;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid $gray;
  transition: 0.5s;

  &:hover {
    color: lighten( $gray, 15% );
    transition: 0.5s;
  }
}

.blue-link {
  font-family: $serif;
  color: $blue;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid $blue;
  transition: 0.5s;

  &:hover {
    color: lighten( $blue, 15% );
    transition: 0.5s;
  }
}
