/******************************************************************
Stylesheet: Button Styles
******************************************************************/

%btn {
  display: block;
  border: 2px solid;
  border-radius: 10px;
  padding: 0.5em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  align-self: center;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover
} // end .button


/***************************
Call to Action Buttons
***************************/


.cta-solid-white {
  @extend %btn;
  color: $gray;
  border-color: $white;
  background-color: $white;
  font-weight: 600;
  transition: 0.5s;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
    border-color: darken($blue, 4%);
    transition: 0.5s;
  } // end hover

  &:active {
    background-color: darken($blue, 4%);
  } // end active
}

.cta-border-gray {
  @extend %btn;
  color: $gray;
  background-color: transparent;
  border-color: $gray;

  &:hover,
  &:focus {
    background-color: lighten($gray, 2%);
    transition: 0.5s;
  } // end hover

  &:active {
    background-color: darken($gray, 5%);
  } // end active
}

.cta-border-green {
  @extend %btn;
  color: $green;
  background-color: transparent;
  border-color: $green;

  &:hover,
  &:focus {
    background-color: lighten($green, 2%);
    transition: 0.5s;
  } // end hover

  &:active {
    background-color: darken($green, 5%);
  } // end active
}

/***************************
Link Buttons
***************************/

// Base
%cta-underline {
  display: inline-block;
  color: $gray;
  text-decoration: none;
  border-bottom: 1px solid $gray;
  transition: 0.5s;
  margin: 5px 0px;

  &:hover {
    color: $blue;
    transition: 0.5s;
    border-bottom: 1px solid $blue;
  }
}

// Gray
.cta-underline-gray {
  @extend %cta-underline;
  color: $gray;
  border-bottom: 1px solid $gray;

  &:hover {
    color: $blue;
    border-color: $blue;
  }
}

// White
.cta-underline-white {
  @extend %cta-underline;
  color: $white;
  border-color: $white;

  &:hover {
    color: $blue;
    border-color: $blue;
  }
}

// Blue
.cta-underline-blue {
    @extend %cta-underline;
    color: $blue;
    border-color: $blue;

  &:hover {
    color: lighten( $blue, 15% );
    border-color: lighten( $blue, 15% );
  }
}

.broker-title {
  > a {
    text-decoration: none;
    padding-bottom: 3px;
    color: $gray;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $gray;
    font-weight: 600;

    &:hover,
    &:focus {
      color: lighten($gray, 20%);
      transition: 0.5s;
    } // end hover

    &:active {
      color: darken($gray, 20%);
    } // end active

  }
}

.header-link {
  display: inline-block;

  > a {
    display: inline-block;
    color: $gray;
    text-decoration: none;
    border-bottom: 1px solid $gray;
    transition: 0.5s;

    &:hover {
      color: $blue;
      transition: 0.5s;
      border-bottom: 1px solid $blue;
    }
  }
}

/*******************************
Specialty and Service Buttons
*******************************/

.specialty-buttons {
 a {
    text-decoration: none;
    padding: 5px;
    color: $gray;
    background-color: transparent;
    border: 3px solid $lgray;
    font-weight: 600;
    border-radius: 10px;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    
    &:hover,
    &:focus {
      color: lighten($gray, 20%);
      transition: 0.5s;
      background-color: $green;
    } // end hover

    &:active {
      color: darken($gray, 20%);
    } // end active
  }
}


/***************************
Tag Buttons
***************************/

// Tags for when you want to show taxonamies without links

.tag {
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 3px;
  border-radius: 3px;
  display: inline-block;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.8s;
  background-color: $lgray;
  font-size: 0.8em;

  &.red {
    background-color: $pink;
    color: white;
  }
  
  &.green {
    background-color: $green;
    color: white;
  }

  &.blue {
    background-color: $blue;
    color: white;
  }
  
  &.gray {
    background-color: $gray;
    color: $lgray;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.8s;
  }
}

/***************************
Button Helper Classes
***************************/

// Gives buttons a fixed width.
.btn-minify {
  width: 250px;
  margin: 10px auto;
}


// Changes the Color of the button
.green {
  color: $green;
}

.red {
  a:hover {
    background-color: $pink;
  }
}

.green {
  a:hover {
    background-color: $green;
  }
}

.blue {
  a:hover {
    background-color: $blue;
    color: white;
  }
}

.gray {
  a:hover {
    background-color: $gray;
    color: $lgray;
  }
}

/***************************
Download Icon
***************************/

.download-icon {
  background-image: url('../images/icons/icon-download.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  float: right;
  margin-bottom: 30px;
}