/******************************************************************
module/ourClientsBar
******************************************************************/

.our-clients {
	background-color: $lgray;
	
	h2 {
		margin: 0;
		background-color: darken($lgray, 5%);
	}

	img {
		padding: 1%;
		//max-width: 80px;
		//margin: 1%;
		vertical-align: center;
	}
}