/******************************************************************
module/ourClientsBar
******************************************************************/

.our-clients {
	background-color: $lgray;
	text-align: center;
	
	h2 {
		margin: 0;
		background-color: darken($lgray, 5%);
	}

	img {
		padding: 2%;
		vertical-align: center;
	}
}