ul.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
  	float: left;

	li {
		margin: 0;
		cursor: pointer;
		padding: 20px;
		line-height: 30px;
		overflow: hidden;
		position: relative;
		border-radius: 5px;
		transition: 0.5s;

		&:hover {
			background-color: lighten($lgray, 20%);
			color: #333;
			transition: 0.5s;
		}

		&.active {
			background-color: $lgray;
			color: #333;
			display: block;
		}
	}
}

.tab_last { 
	// border-right: 1px solid #333; 
}

.tab_container {
	border-top: none;
	overflow: auto;
  	text-align: center;
}

.tab_content {
	margin: 80px auto;
	width: 50%;
	display: none;

	img{
		width: 100px;
	}
}

.tab_drawer_heading { 
	display: none; 
}


@media screen and (max-width: 480px) {
	.tabs {
		display: none;
	}

	.tab_drawer_heading {
		background-color: white;
		color: $gray;
		margin: 0;
		padding: 35px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.d_active {
		background-color: $lgray;
		color: #fff;
	}
}