/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  // width: 1240px;
}

p {
	font-size: 1.1em;	
}

.nav {
	> li {
		// Show "Search Properties" when you have more screen
		&:last-child {
			display: inline-block;

			a {
				
				color: $green;
			}
			
		}
	}
}

#page-header {
	background-position: top center;
}

.callout {
	// margin: 100px 0;

	.header-buttons {
		margin: 60px;

		a {
			margin: 5%;
		}
	}
}

// Make the service boxes more square on desktop
.service-grid  {

	.service-box {
		padding: 40px 0px;
	}
}

section .slant {
	width: 60%;
}

.entry-content {
	// margin-right: 12.66666667%;
	// margin-left: 12.66666667%;
}