/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  // width: 1240px;
}

.nav {
	> li {
		// Show "Search Properties" when you have more screen
		&:last-child {
			display: inline-block;

			a {
				
				color: $green;
			}
			
		}
	}
}

// Make the service boxes more square on desktop
.service-grid  {

	.service-box {
		padding: 60px 5px;
	}
}