/******************************************************************
Stylesheet: 1030px and up - Desktop Stylsheet
******************************************************************/

// styles for video background in the header (desktop)
video.fullscreen {
  	width: 1430px;
}

p {
	font-size: 1.0em;	
}

#logo {
	max-width: 250px;
	padding-top: 20px;
	padding-left: 13px;
}

header .nav {
	> a {
		font-size: 1.1em;
	}

	// Show "Search Properties" when you have more screen
	> li:last-child {
		display: inline-block;

		a {
			color: $green;	
		}
		
	}
}

.callout {
	padding-top: 80px;

	.header-buttons {
		margin: 60px;

		a {
			margin: 5%;
		}
	}
}

section {
	margin-left: 12.33%;
	margin-right: 12.33%;

	.slant {
		width: 60%;
	}
}

#contactSidebar {
	display: block;
}
