/******************************************************************
Stylesheet: 1500 and up - Desktop Stylsheet
******************************************************************/

video.fullscreen {
  	width: 100%;
}

.nav {
	> li {
		font-size: 1.3em;
	}
}