/******************************************************************
Stylesheet: 768px and up - Tablet & Small Desktop Stylesheet
******************************************************************/

// Desktop Font Sizes

h1, .h1 {
	font-size: 3em;
}

h2, .h2 {
	font-size: 2em;
}

h3, .h3 {
	font-size: 1.5em;
}

h4, .h4 {
	font-size: 1.2em;
}

h5, .h5 {
	font-size: 0.8em;
}

p {
	font-size: 0.9em;
}

blockquote {
	width: 100%;
    margin: 80px 0px;
}

/*********************
HEADER STYLES
*********************/

// Prevent the searhc bar from going full width
#searchform.visible {
	left: 25%;
}

// Hide the menu burger
#menu-burger {
	display: none;
}

// Hide the phone button
#call {
	display: none;
}

#searchButton {
	margin-right: 15px;
	transition: $trans;

	&:hover {
		background-color: $green;
		transition: $trans;
	}
}

.callout {

	.header-buttons {
		margin: 30px;

		a {
			margin: 5%;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

#main-menu {
	display: block;
	// position: relative;
 //    background: $dgray;
 //    z-index: 999;
 //    -webkit-transform: translate3d(0px, 0, 0);
 //    transform: translate3d(0px, 0, 0);
 //    margin: 0;
}

.nav {
	display: flex;
	border: 0;
	text-align: right;
	float: right;

	> li {
		transition: $trans;

		a {
			color: darken($white, 15%);
			display: block;
			font-size: 0.70em;
			padding: 1.8em 1.5em;
			border-bottom: 4px solid transparent;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 600;

			&:hover, &:focus {
				color: $white;
				text-decoration: none;
				border-bottom: 4px solid $white;
			}
		}

		&:hover, &:focus {
				background-color: lighten($gray, 2%);
				transition: $trans;
			}

		// Don't Show "Search Properties" on this version
		&:last-child {
			display: none;
		}

		// Desktop Hover/Drop-down Menu
		ul.sub-menu {
			display: none;
			position: absolute;
			left: 0;
			right: 0;
			z-index: 8999;
			background-color: $dgray;
			text-align: center;
			padding-bottom: 15px;

			li {
				text-transform: uppercase;
				display: inline-block;
				margin: 0 4%;
				vertical-align: top;
				position: relative;

				a {
					color: darken($white, 25%);;
					text-align: left;
					padding: 2em;
					display: block;
					border: none;
					text-decoration: none;

					&:hover,
					&:focus {
						color: $white;
						text-decoration: underline;
					}

					&:link {}
				}
				
				// Descriptions for the Owner/Occupier Options
				.menu-item-description {
					width: 200px;
					position: absolute;
					text-decoration: none;
					padding-top: 10px;
					font-weight: 400;
					text-transform: none;
				}

				&:first-child {}

				&:last-child {

					a {
						// color: $white;
						border-bottom: 0;
					}
				}

				ul.sub-menu {
					display: block;
					visibility: visible;
					position: relative;
					
					li {
						display: block;
						clear: both;
						width: auto;
						text-align: center;
						margin: 0;
					}

					a {
						color: darken($white, 25%);;
						padding: 1em 2em;
						display: block;
						border: none;
						text-decoration: none;
						text-transform: capitalize;
						font-weight: 400;

						&::before {
							content: "+ ";
						}

						&:hover {
							text-decoration: underline;
							color: darken($white, 15%);;
						}
					}

				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {
			// background-color: darken($gray, 3%);;
			transition: 0.5s;
			border-bottom: 4px solid $white;
		}
	}  /* end current highlighters */

} /* end .nav */

// navigation hacks 
#menu-item-137 {
	ul {
		padding-bottom: 120px;
	}

	.menu-item-description {
		width: 50px;
		display: block;
	}
}

/*********************
SECTION STYLES
*********************/

section {
	
	.uvp {
		
		padding: 0;

		p {
			background-image: url('../images/bg/pattern.svg');
			background-size: 10%;
			font-size: 1.5em;
		}
	}

	&.topic {
		border-top: 10px solid $lgray;
		border-bottom: 10px solid $lgray;
		overflow: hidden;
		margin: 0;
		padding: 0;
	    background-repeat: no-repeat;
	    background-position: top left;
	    background-size: cover;
	    position: relative;

		aside {
			background-color: transparent;
			position: absolute;
			z-index: 3;
			width: 30%;
			top: 175px;

			&.right {
				right: 0;
				left: auto;
			}

			.left {
				left: 0;
				right: auto;
			}

			p {
				margin-bottom: 30px;
			}

			a {
				margin-left: 0 !important;
			}
		}
	}

	.slant {
		height: 720px;
	    position: relative;
	    overflow: hidden;
	    z-index: 1;
	    width: 80%;
	    

		&--left {
			transform: skewX(-20deg); 
	    	-ms-transform: skewX(-20deg); /* IE 9 */
	    	-webkit-transform: skewX(-20deg); /* Safari and Chrome */
	    	-webkit-transform-origin: top right;
	    	-ms-transform-origin: top right;
	    	transform-origin: top right;
	    	background-color: white;
	    	float: left;
		}

		&--right {
			transform: skewX(20deg); 
	    	-ms-transform: skewX(20deg); /* IE 9 */
	    	-webkit-transform: skewX(20deg); /* Safari and Chrome */
	    	-webkit-transform-origin: top left;
	    	-ms-transform-origin: top left;
	    	transform-origin: top left;
	    	background-color: white;
	    	float: right;
		}
	}

	// End of Topic Section

} // End Section Styles

.proposal-contact {
		margin: 40px auto;
	}


// MODULE Learn More Tabs
ul.tabs {
	display: block;

	li {
		margin: 5px 0;
		cursor: pointer;
		padding: 20px;
		line-height: 30px;
		overflow: hidden;
		position: relative;
		border-radius: 5px;
		transition: 0.5s;
		background-color: $lgray;

		&:hover {
			background-color: lighten($lgray, 5%);
			color: #333;
			transition: 0.5s;
		}

		&.active {
			background-color: lighten($lgray, 5%);
			color: #333;
			display: block;
		}
	}
}

.tab_container {
	border-top: none;
	overflow: auto;
  	text-align: center;
}

.tab_drawer_heading { 
	display: none; 
}


.listing-contact {
	display: none;
}

/*********************
FOOTER STYLES
*********************/

.address {
 margin: 7px auto;
 display: inline-block;
}

p.copyright {
	//display: inline-block;
	margin: 2px auto;
}

footer {
	.social {
		margin: 0;
		text-align: right;

		.fa {
			font-size: 1.2em;
		}
	}
}

.footer-links {
	display: inline-block;
	margin: 10px auto 0 auto;

	.nav {
		background: transparent;
	}

	ul { 
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			padding: 0;

			&:hover, &:focus {
				background-color: $dgray;
			}
			
			a {
				margin: 0;
				margin-right: 10px;
				padding: 0;
				color: $gray;
				transition: 0.3s;

				&:hover {
					background: transparent;
					transition: 0.3s;
				}
			}
		}
	}
} /* end .footer-links */

