/******************************************************************
Site Name: RESOURCE Commercial Real Estate
Author: Patrick Hanus

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	// width: 760px;
}

/*********************
HEADER STYLES
*********************/

.header {}

#logo {}

// Search, Call or Menu
#mobile-quick-nav {
	
	// Hide the menu burger
	div#menu-burger {
		display: none;
	}
	
	div {
		padding: 0.70em 0.5em;
	}

	// Hide the phone button
	div {
		&:first-child {
			display: none;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

#main-menu {
	display: block;
	position: relative;
    width: 100%;
    height: auto;
    background: $dgray;
    z-index: 999;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

// Don't Show mobile Menu on Bigger Screens
#menu-mobile-menu {
	display: none;
}

.nav {
	margin-top: 0px;
	margin-right: 0.5em;
	display: block;
	border: 0;
	text-align: right;
	float: right;

	ul {

	}

	li {
		display: inline-block;

		a {
			display: block;
			font-size: 0.70em;
			padding: 1.8em 0.5em;
			border-bottom: 4px solid transparent;

			&:hover, &:focus {
				color: $white;
				text-decoration: none;
				background-color: darken($gray, 5%);
				border-bottom: 4px solid $white;
			}
		}

		&:first-child {}

		// Don't Show "Search Properties" on this version
		&:last-child {
			display: none;
		}

		// Desktop Hover/Drop-down Menu
		ul.sub-menu {
			display: none;
			position: absolute;
			left: 0;
			right: 0;
			z-index: 8999;
			background-color: darken($gray, 5%);;
			text-align: center;
			padding-bottom: 15px;

			li {
				display: inline-block;
				margin: 0 60px;
				vertical-align: top;
				display: relative;

				a {
					color: darken($white, 25%);;
					text-align: left;
					padding: 2em;
					display: block;
					border: none;
					text-decoration: underline;
					text-transform: none;

					&:hover,
					&:focus {
						color: $white;
					}

					&:link {}
				}

				.menu-item-description {
					width: 200px;
					position: absolute;
					text-decoration: none;
					padding-top: 10px;
					font-weight: 400;
				}

				&:first-child {}

				&:last-child {

					a {
						// color: $white;
						border-bottom: 0;
					}
				}

				ul.sub-menu {
					display: block;
					visibility: visible;
					position: relative;
					
					li {
						display: block;
						clear: both;
						width: auto;
						text-align: center;
						margin: 0;
					}

					a {
						color: darken($white, 25%);;
						padding: 1em 2em;
						display: block;
						border: none;
						text-decoration: none;
						text-transform: capitalize;
						font-weight: 400;

						&::before {
							content: "+ ";
						}

						&:hover {
							text-decoration: underline;
							color: darken($white, 15%);;
						}
					}

				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {
			background-color: darken($gray, 3%);;
			transition: 0.5s;
			border-bottom: 4px solid $white;
		}
	}  /* end current highlighters */

} /* end .nav */

/****************************************
Our Clients Bar
****************************************/

.our-clients {
	background-color: $lgray;

	img {
		height: 25px;
		margin: 20px auto;
		margin-right: 60px;
	
		// Get rid of margin on last client logo
		&:last-child {
		margin-right: 0px;
		}
	}
}

/*********************
CONTENT
*********************/

#content {
	background-color: $gray;

	header {

		.callout {
			text-align: center;

			.subtitle {
				margin-right: 15%; 
				margin-left: 15%;
				font-size: 1.2em;
				font-weight: 800;
			}

			> div {
				float: none;
			}
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

/*********************
FORM STYLES
*********************/

form#contact-home {
	padding-right: 40px;
}

/*********************
SECITON STYLES
*********************/

section {
	.uvp {
		background-image: url('../images/bg/pattern-01-01.svg');
		background-size: 10%;
	}

	&.topic {
		border-top: 10px solid $lgray;
		border-bottom: 10px solid $lgray;
		overflow: hidden;
		margin: 0;
		padding: 0;

		aside {
			margin-top: 15%;
			max-width: 350px;

			h3 {
				text-align: left;
				font-size: 2.2em;
				margin: 0;
				background-color: transparent;
				padding: 0;
				color: $gray;
			}

			p {
				margin-bottom: 30px;
			}

			a {
				margin-left: 0 !important;
			}
		}
	}

	.slant {
		height: 720px;
	    position: relative;
	    overflow: hidden;

		&--left {
			transform: skewX(-20deg); 
	    	-ms-transform: skewX(-20deg); /* IE 9 */
	    	-webkit-transform: skewX(-20deg); /* Safari and Chrome */
	    	-webkit-transform-origin: top right;
	    	-ms-transform-origin: top right;
	    	transform-origin: top right;
			
			&::before {
		    	content: "";
			    transform: skewX(20deg);
			    -ms-transform: skewX(20deg); /* IE 9 */
			    -webkit-transform: skewX(20deg); /* Safari and Chrome */
			    background-image: url('../images/bg/bg-services.png'); 
			    background-repeat: no-repeat;
			    background-position: top left;
			    position: absolute;
			    -webkit-transform-origin: top right;
			    -ms-transform-origin: top right;
			    transform-origin: top right;
			    width: 2000px;
			    height: 2000px;
			}

		}

		&--right {
			transform: skewX(20deg); 
	    	-ms-transform: skewX(20deg); /* IE 9 */
	    	-webkit-transform: skewX(20deg); /* Safari and Chrome */
	    	-webkit-transform-origin: top left;
	    	-ms-transform-origin: top left;
	    	transform-origin: top left;

	    	&::before {
			    background-image: url('../images/bg/bg-services.png');
				content: "";
			    background-repeat: no-repeat; 
			    background-position: top left;
			    position: absolute;
			    width: 1500px;
			    height: 1500px;
			    -webkit-transform-origin: top left;
			    -ms-transform-origin: top left;
			    transform-origin: top left;
			    transform: skewX(-20deg);
			    -ms-transform: skewX(-20deg); /* IE 9 */
			    -webkit-transform: skewX(-20deg); /* Safari and Chrome */
			}
		}
	}

	// End of Topic Section

	// Begin Styles for a Service Grid
	&.service-grid { 

		div {
			padding: 0;
		}

		.service-box {
			img { 
				top: -30px;
				width: 25%;
			}

			a {
				display: inline;
				border-bottom: 1px solid $blue;
				font-weight: 700;
				color: $gray;
				text-decoration: none;
				transition: 0.5s;

				&:hover {
					color: lighten( $blue, 15% );
					transition: 0.5s;
				}
			}

			p {
				display: block;
				padding: 0 25px;
			}
		}
	} // End Service Grid Styles


} // End Section Styles





/*********************
FOOTER STYLES
*********************/

p.copyright {
	display: inline-block;
}

.footer-links {
	display: inline-block;
	float: right;
	margin: 6px auto;

	.nav {
		background: transparent;
	}

	ul { 
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			padding: 0;
			
			a {
				margin: 0;
				margin-right: 10px;
				padding: 0;
				color: $gray;
				transition: 0.3s;

				&:hover {
					background: transparent;
					transition: 0.3s;
				}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

