/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

p {
	font-size: 0.75em;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
}

/*********************
HEADER STYLES
*********************/

.header {}

#logo {}

// Search, Call or Menu
#mobile-quick-nav {
	
	// Hide the menu burger
	div#menu-burger {
		display: none;
	}
	
	div {
		padding: 0.70em 0.5em;
	}

	// Hide the phone button
	div {
		&:first-child {
			display: none;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

#main-menu {
	display: block;
	position: relative;
    width: 100%;
    height: auto;
    background: $dgray;
    z-index: 999;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

// Don't Show mobile Menu on Bigger Screens
#menu-mobile-menu {
	display: none;
}

.nav {
	margin-top: 0px;
	margin-right: 0.5em;
	display: block;
	border: 0;
	text-align: right;
	float: right;

	ul {

	}

	li {
		display: inline-block;

		a {
			display: block;
			font-size: 0.70em;
			padding: 1.8em 0.5em;
			border-bottom: 4px solid transparent;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				text-decoration: none;
				background-color: darken($gray, 5%);
				border-bottom: 4px solid $white;
			}
		}

		&:first-child {}

		// Don't Show "Search Properties" on this version
		&:last-child {
			display: none;
		}

		// Desktop Hover/Drop-down Menu
		ul.sub-menu {
			display: none;
			position: absolute;
			left: 0;
			right: 0;
			z-index: 8999;
			background-color: darken($gray, 5%);;
			text-align: center;
			padding-bottom: 15px;

			li {
				display: inline-block;
				margin: 0 60px;
				vertical-align: top;
				display: relative;

				a {
					color: darken($white, 25%);;
					text-align: left;
					padding: 2em;
					display: block;
					border: none;
					text-decoration: underline;
					text-transform: none;

					&:hover,
					&:focus {
						color: $white;
					}

					&:link {}
				}

				.menu-item-description {
					width: 200px;
					position: absolute;
					text-decoration: none;
					padding-top: 10px;
					font-weight: 400;
				}

				&:first-child {}

				&:last-child {

					a {
						// color: $white;
						border-bottom: 0;
					}
				}

				ul.sub-menu {
					display: block;
					visibility: visible;
					position: relative;
					
					li {
						display: block;
						clear: both;
						width: auto;
						text-align: center;
						margin: 0;
					}

					a {
						color: darken($white, 25%);;
						padding: 1em 2em;
						display: block;
						border: none;
						text-decoration: none;
						text-transform: capitalize;
						font-weight: 400;

						&::before {
							content: "+ ";
						}

						&:hover {
							text-decoration: underline;
							color: darken($white, 15%);;
						}
					}

				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {
			background-color: darken($gray, 3%);;
			transition: 0.5s;
			border-bottom: 4px solid $white;
		}
	}  /* end current highlighters */

} /* end .nav */

/****************************************
Our Clients Bar
****************************************/

.our-clients {
	background-color: $lgray;

	img {
		height: 25px;
		margin: 20px auto;
		margin-right: 60px;
	
		// Get rid of margin on last client logo
		&:last-child {
		margin-right: 0px;
		}
	}
}

/*********************
CONTENT
*********************/

#content {

	header {

		.callout {
			text-align: center;
			margin: 200px auto;

			a {
				font-size: 0.75em;
				margin: 0.50em auto;
				display: block;
				max-width: 150px;
			}
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
SERVICE STYLES
*********************/


/*********************
FORM STYLES
*********************/

form#contact-home {
	padding-right: 40px;
}

/*********************
SECITON STYLES
*********************/

section {

	// Begin Topic Section
	&.topic {
		border-top: 10px solid $lgray;
		border-bottom: 10px solid $lgray;
		overflow: hidden;

		aside {
			margin-top: 100px;
			float: right;

			h3 {
				text-align: left;
				font-size: 2.5em;
				margin: 0;
			}

			p {
				margin-bottom: 30px;
			}
		}

		.right {
			float: right;
		}

		.left {
			float: left;
		}
	}

	&.slant {
	    transform: skewX(-20deg); 
	    -ms-transform: skewX(-20deg); /* IE 9 */
	    -webkit-transform: skewX(-20deg); /* Safari and Chrome */
	    width: 60%; 
	    height: 520px;
	    position: relative;
	    overflow: hidden;
	    -webkit-transform-origin: top right;
	    -ms-transform-origin: top right;
	    transform-origin: top right;

	    &::before {
	    	content: "";
		    transform: skewX(20deg);
		    -ms-transform: skewX(20deg); /* IE 9 */
		    -webkit-transform: skewX(20deg); /* Safari and Chrome */
		    background-image: url('../images/bg/bg-services.png'); 
		    background-repeat: no-repeat; 
		    background-position: top left;
		    position: absolute;
		    -webkit-transform-origin: top right;
		    -ms-transform-origin: top right;
		    transform-origin: top right;
		    width: 2000px; /* something ridiculously big */
		    height: 2000px; /* something ridiculously big */
		}
	}
	// End of Topic Section

	// Begin Styles for a Service Grid
	&.service-grid { 

		div {
			padding: 0;

			.m-end {
				margin-right: 10px;	
			}

			.d-end {
				margin-right: 0px;	
			}
		}

		.service-box {
			img { 
				top: -30px;
				width: 25%;
			}

			a {
				display: inline;
				border-bottom: 1px solid $blue;
				font-weight: 700;
				color: $blue;
				text-decoration: none;
				transition: 0.5s;

				&:hover {
					color: lighten( $blue, 15% );
					transition: 0.5s;
				}
			}

			p {
				display: block;
				padding: 0 25px;
			}
		}
	} // End Service Grid Styles


} // End Section Styles





/*********************
FOOTER STYLES
*********************/

p.copyright {
		display: inline-block;
	}

.footer-links {
	display: inline-block;
	float: right;
	margin: 6px auto;

	.nav {
		background: transparent;
	}

	ul { 
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			padding: 0;
			
			a {
				margin: 0;
				margin-right: 10px;
				padding: 0;
				color: $gray;

				&:hover {
					background: transparent;
				}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

