/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

******************************************************************/

body {
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	box-sizing: border-box;
  	margin: 0;
  	font-family: $sans-serif;
}

.div {
	vertical-align: baseline;
}

ol, ul {
	margin: 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
	margin: 0 auto;
}

/*********************
HEADER STYLES
*********************/

header {
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

	#page-header {
		padding-top: 200px;
		padding-bottom: 150px;
	}

	.header-home {
		background-image: url('../images/bg/header-home.jpg');
		background-repeat: no-repeat;
	}

#inner-header {
	top: 0;
	border-bottom: 3px solid $white;
	height: 63px;
	position: fixed;
	width: 100%;
	background-color: darken($gray, 5%);
	z-index: 9999;

	#logo {
		max-width: 225px;
		padding-top: 12px;
		padding-left: 12px;
	}
}

// Search, Call or Menu
#mobile-quick-nav {
	background-color: $dgray;

	div {
		cursor: pointer;
		text-align: center;
		padding: 0.71em 0.5em;
		width: 60px;
		text-align: center;
		border-right: 1px solid $gray;

		a, img {
			width: 30px;
		}
	}

	div#menu-burger {
		background-color: $green;
		border: none;
	}
}

.callout {
	display: block;
	text-align: center;

	.header-buttons {
		margin: 70px;

		a {
			margin: 5% 0;
		}
	}

	.page-title {
		line-height: 1.2em;
	}

	.subtitle {
		font-weight: 300;
		color: white;
		margin: 0 auto;
		padding: 0 10%;
	}

	> div {
		float: none;
		margin: 0 auto;
	}
}

// Navigation Module
@import "../modules/navigation";

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	background-color: white;
	
	#main {
		margin-top: 10px;
	}
}

	.hentry {
		background-color: $white;
		margin-bottom: 1.5em;

		footer {
			p {
				margin: 0;
			}
		}
	} /* end .hentry */

	.single-title,
	.page-title,
	.entry-title {
		baseline: bottom;
		margin: 40px 0 0 0;
	}

	/* post meta */
	.byline {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		time {}
	}

	/* entry content */
	.entry-content {
		padding: 0;

		p {
			margin: 0 0 1.5em;
		}

		ul, ol, table, dl {}

		ul, ol {

			li {}

		}

		ul {

			li {}

		}

		ol {

			li {}

		}

		table {
			width: 100%;
			border: 1px solid $gray;
			margin-bottom: 1.5em;

			caption {
				margin: 0 0 7px;
				font-size: 0.75em;
				color: $meta-gray;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
		}

		tr {
			border-bottom: 1px solid $gray;

			&:nth-child(even) {
				background-color: $lgray;
			}
		}

		td {
			padding: 7px;
			border-right: 1px solid $gray;

			&:last-child {
				border-right: 0;
			}
		}

		th {
			background-color: $lgray;
			border-bottom: 1px solid $gray;
			border-right: 1px solid $gray;

			&:last-child {
				border-right: 0;
			}
		}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $lgray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/*********************
SECTION STYLES
*********************/

// Header BG if there is no picture loaded
.default-bg {
	background-image: url('../images/bg/pattern.svg');
	background-size: 10%;
	background-repeat: repeat;

	h1, p {
		color: $gray !important;
	}
}

section {
	
	.topic {
		.slant {
			display: none;
		}
	}

	aside {
		text-align: left;
		background-color: white;
		margin-top: 100px 0px;
		padding: 0;
		
		h3 {
			background-color: $gray;
			padding: 10px;
			color: $white;
		}
		
		a {
			margin-top: 10px;
		}
	}
}


/*********************
MODULE IMPORTS
**********************/

@import "../modules/ourClientsBar";
@import "../modules/serviceGrid";
@import "../modules/serviceTabs";

/*********************
PAGE IMPORTS
**********************/
@import "../pages/case-study";

/*********************
FOOTER STYLES
*********************/

footer {
	clear: both;
	background-color: $dgray;
	color: $lgray;
}

.footer-links {

	ul {
		li {
			padding: 10px 5px;
			border-bottom: 2px solid $dgray;
		}
	}
}

.copyright {
	font-size: 0.75em;
	font-family: sans-serif;
}
