/******************************************************************
Base Mobile Stylesheet
******************************************************************/

body {
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	box-sizing: border-box;
  	margin: 0;
  	font-family: $sans-serif;
}

.div {
	vertical-align: baseline;
}

ol, ul {
	margin: 0;
}


// Mobile Font Sizes

h1, .h1 {
	font-size: 2.1em;
}

h3, .h3 {
	font-size: 1.5em;
}

h4, .h4 {
	font-size: 0.9em;
}

h5, .h5 {
	font-size: 0.8em;
}

p {
	font-size: 1.2em;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 90%;
	margin: 0 auto;
}

/*********************
HEADER STYLES
*********************/

header {
	position: relative;
	overflow: hidden;
}

#hero {
	position: relative;
	overflow: hidden;
}

#scene {
	overflow: hidden;
	position: relative;

	.header {
		left: -5% !important;
	}
}

.header { 
	background-size: cover; // Fixed the size issue, but may have bugs
	background-repeat: no-repeat;
	position: absolute;
	height: 750px;
	display: block;
	width: 120%;
    text-align: center;
    z-index: -5;

	&:after {
	    background-color:  rgba(0, 0, 0, 0.22);
	    position: absolute;
	    display: block;
	    content: "";
	    width: 110%;
    	left: -5%;
    	top: -5%;
    }
}

.header-video {
	width: 100%;
	position: absolute;
	height: 750px;
	display: block;
    text-align: center;
    z-index: -5;
    left: 0; 
    top: 35px;
}

// styles for video background in the header
video.fullscreen {
	display: block;
  	height: auto !important;
  	width: 1357px;
}

header.fullscreen {
	width: 100%;
	overflow: hidden;
}

.header-default {
	height: 450px;
}

#single-header {
	padding-top: 90px;
	padding-bottom: 20px;
}

#listing-header {
	background-image: url('../images/bg/pattern.svg');
	background-size: 10%;
	background-repeat: repeat;
	position: relative;
	z-index: -5;
	padding-top: 100px;
	padding-bottom: 50px;

	&:after {
	    background-color:  rgba(0, 0, 0, 0.22);
	    position: absolute;
	    display: block;
	    content: "";
	    height: 700px;
	    width: 100%;
    	left: 0;
    	top: 0;
    	z-index: -4;
    }
}

#inner-header {
	height: 63px;
	top: 0;
	border-bottom: 3px solid $white;
	position: fixed;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	width: 100%;
	background-color: darken($gray, 5%);
	z-index: 100;
	-webkit-flex-flow: row wrap;
  	justify-content: flex-end;

  	.space {
		flex-grow: 1;
	}
}

#logo {
	width: 200px;
	padding-top: 18px;
	padding-left: 13px;
}

#call {
	width: 63px;
	padding: 15px;
	background-color: $gray;
}

#menu-burger {
	width: 63px;
	background-color: $green;
}

#searchButton {
	align-self: center;
	color: white;
	font-size: 1.5em;
	width: 63px;
	padding: 12px;
	background-color: $gray;
	cursor: pointer;
	text-align: center;
	border-left: 1px solid $dgray;
	border-right: 1px solid $dgray;
	margin-right: 1px;
}

.callout {
	padding: 100px 20px 20px 20px;
	display: block;
	width: 100%;
    z-index: 5;

	.header-buttons {
		margin: 40px;

		a {
			margin: 5% 0;
		}
	}

	.page-title {
		line-height: 1.2em;
	}

	> div {
		float: none;
		margin: 0 auto;
	}
}

.subtitle {
	font-weight: 500;
	font-size: 1.5em;
	color: white;
	margin: 0 auto;
	padding: 5px;
	text-shadow: 5px 1px 10px rgba( $black, 0.5);
}

// Navigation Module
@import "../modules/navigation";

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	z-index: 5;
	background-color: white;
}

.hentry {
	background-color: $white;
	margin-bottom: 0.5em;

	footer {
		p {
			margin: 0;
		}
	}
} /* end .hentry */

.entry-content {
	margin-right: 5%;
	margin-left: 5%;

	img {
		border-radius: 10px;
		margin: 20px 0;
	}
}

section#authorSingle {
	border-top: 3px solid $lgray;
	padding-top: 60px;
}


#contactSidebar {
	display: none;
}
/*********************
SECTION STYLES
*********************/

// Header BG if there is no picture loaded
.default-bg {
	background-image: url('../images/bg/pattern.svg');
	background-size: 10%;
	background-repeat: repeat;

	h1, p {
		color: $gray;
	}
}

section {
	// Don't show the slant on mobile
	padding: 0;
	margin-top: 20px;
	margin-bottom: 40px;

	.topic {
		background-image: transparent;
	
		.slant {
			display: none;
		}
	}

	aside {
		background-color: white;
		text-align: left;
		margin-top: 0px;
		padding: 0;
		bottom: 0;
		top: auto;
		
		a {
			margin-top: 10px;
		}
	}
}

.panel {
	height: auto;
	background: none;
}


// Contact form styles

.contact-copy {
	margin-top: 6%;
}

.contact-pic-container {
	margin: 40px 0px;
}

.contact-pic {
	background-size: cover;
	display: inline-block;
	width: 40%;
	height: 150px;
	box-shadow: 13px 9px 35px 5px rgba(1, 1, 1, 0.35);
	border-radius: 5px;
}

.contact-pic:nth-child(2) {
	width: 40%;
	margin: -5% -15% 5% -15%;
}

/*********************
FOOTER STYLES
*********************/

footer {
	clear: both;
	background-color: $dgray;
	color: $lgray;

	&.footer {
		border-top: 5px solid white;
	}

	.social {
		margin: 20px 10px 20px 0;
		text-align: center;

		.fa {
			margin: 5px 10px;
			font-size: 2em;
		}
	}
}



.footer-links {

	ul {
		li {
			padding: 10px 5px;
			border-bottom: 2px solid $dgray;
			transition: .5s;

			&:hover, &:focus {
				background-color: $gray;
				transition: .5s;
			}
			
			a {
				display: block;
				padding: 1.2em;
				color: $white;	
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
	}
}

.copyright {
	font-size: 0.75em;
}
