/******************************************************************
Base Mobile Stylesheet
******************************************************************/

body {
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	box-sizing: border-box;
  	margin: 0;
  	font-family: $sans-serif;
}

ol, ul {
	margin: 0;
}

/*********************
MOBILE TYPE SIZES
*********************/

h1, .h1 {
	font-size: 2.1em;
}

h3, .h3 {
	font-size: 1.5em;
}

h4, .h4 {
	font-size: 0.9em;
}

h5, .h5 {
	font-size: 0.8em;
}

p {
	font-size: 1.2em;
}

/*********************
LAYOUT & GRID STYLES
*********************/


/*********************
HEADER STYLES
*********************/

header {
	position: relative;
	overflow: hidden;
}

#hero {
	position: relative;
	overflow: hidden;

	// for the icon in the center of the header
	img {
    	margin: 30px;
    	padding: 0;
    	width: auto;
    }
}

#scene {
	overflow: hidden;
	position: relative;

	.header {
		left: -5% !important;
	}
}

.header { 
	background-size: cover; // Fixed the size issue, but may have bugs
	background-repeat: no-repeat;
	position: absolute;
	height: 750px;
	display: block;
	width: 120%;
    text-align: center;
    z-index: -5;
    top: 0px !important;
    margin-bottom: -50px;

	&:after {
	    background-color:  rgba(0, 0, 0, 0.22);
	    position: absolute;
	    display: block;
	    content: "";
	    width: 110%;
    	left: -5%;
    	top: -5%;
    }
}

.header-video {
	width: 100%;
	position: absolute;
	height: 750px;
	display: block;
    text-align: center;
    z-index: -5;
    left: 0; 
    top: 0px;

    &:before {
	    background-color:  rgba(0, 0, 0, 0.22);
	    position: absolute;
	    display: block;
	    content: "";
	    width: 110%;
    	left: -5%;
    	top: -5%;
    }
}

// styles for video background in the header
video.fullscreen {
	display: block;
  	height: auto !important;
  	width: 1357px;
}

header.fullscreen {
	width: 100%;
	overflow: hidden;
}

.header-default {
	height: 550px;
}

#single-header {
	padding-top: 90px;
	padding-bottom: 20px;
	background-repeat: repeat;
	background-size: 20%;
}

#listing-header {
	background-image: url('../images/bg/pattern.svg');
	background-size: 10%;
	background-repeat: repeat;
	position: relative;
	z-index: -5;
	padding-top: 100px;
	padding-bottom: 50px;

	&:after {
	    background-color:  rgba(0, 0, 0, 0.22);
	    position: absolute;
	    display: block;
	    content: "";
	    height: 700px;
	    width: 100%;
    	left: 0;
    	top: 0;
    	z-index: -4;
    }
}

#inner-header {
	// height: 63px;
	top: 0;
	border-top: 5px solid $green;
	position: fixed;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	width: 100%;
	background: linear-gradient(to bottom right, rgba(67, 80, 93, 0.8), rgba(87, 101, 113, 0.89));
	z-index: 100;
	-webkit-flex-flow: row wrap;
  	justify-content: flex-end;

  	// This adds that cool blur effect.
  	-webkit-backdrop-filter: blur(20px);
  	backdrop-filter: blur(20px);
  	-moz-backdrop-filter: blur(20px);
  	-o-backdrop-filter: blur(20px);

  	.space {
		flex-grow: 1;
	}
}

#logo {
	width: 200px;
	padding-top: 18px;
	padding-left: 13px;
}

#call {
	width: 63px;
	padding: 15px;
}

#menu-burger {
	width: 63px;
	background-color: $green;
}

#searchButton {
	align-self: center;
	color: white;
	font-size: 1.5em;
	width: 63px;
	padding: 12px;
	cursor: pointer;
	text-align: center;
	border-left: 1px solid $dgray;
	border-right: 1px solid $dgray;
	margin-right: 1px;
}

.callout {
	padding: 50px 20px 20px 20px;
	display: block;
	width: 100%;
    // z-index: 5;

	.header-buttons {
		margin: 40px;

		a {
			margin: 5% 0;
		}
	}

	.page-title {
		line-height: 1.2em;
	}

	> div {
		float: none;
		margin: 0 auto;
	}
}

.subtitle {
	font-weight: 500;
	font-size: 1.5em;
	color: white;
	margin: 0 auto;
	text-shadow: 5px 1px 10px rgba( $black, 0.5);
}

// Navigation Module
@import "../modules/navigation";

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	z-index: 5;
	background-color: white;
}

.hentry {
	background-color: $white;
	margin-bottom: 0.5em;

	footer {
		p {
			margin: 0;
		}
	}
}

.entry-content {
	overflow: hidden;
	margin-right: 5%;
	margin-left: 5%;

	img {
		border-radius: 10px;
		margin: 20px 0;
	}
}

section#authorSingle {
	border-top: 3px solid $lgray;
	padding-top: 60px;
}


#contactSidebar {
	display: none;
}
/*********************
SECTION STYLES
*********************/

section {
	margin-left: 25px;
    margin-right: 25px;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 40px;

	.topic {
		background-image: transparent;
	
		.slant {
			display: none;
		}
	}

	aside {
		background-color: white;
		text-align: left;
		margin-top: 0px;
		padding: 0;
		bottom: 0;
		top: auto;
		
		a {
			margin-top: 10px;
		}
	}
}

.no-margin {
	margin: 0px;
}

.panel {
	margin: 0;
	height: auto;
	background: none;
}


// Contact form styles

.contact-pic-container {
	margin: 60px 40px;
}

.contact-pic {
	background-size: cover;
	display: inline-block;
	width: 40%;
	height: 150px;
	border-radius: 5px;
}

.contact-pic:nth-child(2) {
	width: 40%;
	margin: -5% -15% 5% -15%;
}

/*********************
FOOTER STYLES
*********************/

footer {
	font-family: $sans-serif;
	background: $dgray;
	color: $lgray;
}

#inner-footer {
	margin: 10px 40px;

	.social {
		margin: 20px 10px 20px 0;
		text-align: left;

		.fa {
			margin: 5px 10px;
			font-size: 1em;
		}

		.fa:first-child {
			margin-left: 0;
		}
	}
}

.info-block {
	margin-bottom: 50px;
}

.footer-slant-container {
	overflow: hidden;
	position: relative;
	height: 120px;

	.footer-slant-back {
		background: linear-gradient(135deg, $dgray, $gray);
		position: absolute;
		top: 50px;
		width: 100%;
		transform: skewY(-3deg);
		height: 110px;
	}

	.footer-slant-front {
		position: absolute;
		top: 75px;
		width: 100%;
		transform: skewY(4deg);
		background: $dgray;
		height: 90px;
	}
}

.footer-links {
	padding: 0;
	text-align: right;
	
	a {
		font-weight: 600;
		text-decoration: none;
	}

	> ul { 
		width: 100%;
  		display: grid;
  		grid-template-columns: repeat(auto-fit, minmax(155px, 1fr) );
  		grid-gap: 20px;
  		grid-auto-rows: minmax(50px, auto);
  		grid-row-gap: 50px;
		margin: 0;
		padding: 0;
		
		li {
			text-align: left;
			padding: 0;
			display: inline-block;
			border: none;
			vertical-align: top;

			> a {
				padding: 0 0 10px 0;
				font-size: 0.9em;
				color: lighten($dgray, 15%);
			}

			&:hover, &:focus {
				background-color: transparent;
			}

			li {
				margin: 0;
				padding: 4px 0;
				display: block;
				font-size: 0.8em;

				a {
					display: inline-block;
					margin-right: 10px;
					padding: 2px;
					color: $lgray;
					transition: 0.3s;
					background: transparent;
					border-radius: 3px;

					&:hover {
						background: $gray;
						transition: 0.3s;
						box-shadow: 3px 3px 8px $dgray;
					}
				}
			}
		}
	}
} /* end .footer-links */

.copyright {
	padding: 20px;
	text-align: center;
	border-top: 1px solid $gray;
	font-size: 0.75em;
}
