/******************************************************************
Base Mobile Stylesheet
******************************************************************/

body {
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	box-sizing: border-box;
  	margin: 0;
  	font-family: $sans-serif;
}

.div {
	vertical-align: baseline;
}

ol, ul {
	margin: 0;
}


// Mobile Font Sizes

h1, .h1 {
	font-size: 1.5em;
}

h3, .h3 {
	font-size: 1.5em;
}

h4, .h4 {
	font-size: 0.9em;
}

h5, .h5 {
	font-size: 0.8em;
}

p {
	font-size: 1.2em;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 90%;
	margin: 0 auto;
}

/*********************
HEADER STYLES
*********************/

header {
	position: relative;
}

#page-header {
	text-align: center;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	height: 500px;
	height: 50vh;

	&.header-home {
		height: 80vh;
	}
}

#single-header {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 160px;
	padding-bottom: 10px;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	text-align: left;
}

#listing-header {
	background-image: url('../images/bg/pattern.svg');
	background-size: 10%;
	background-repeat: repeat;
	background-position: center;
	padding-top: 60px;
	padding-bottom: 10px;
	width: 100%;
	height: auto;
}

#inner-header {
	top: 0;
	border-bottom: 3px solid $white;
	// height: 63px;
	position: fixed;
	width: 100%;
	background-color: darken($gray, 5%);
	z-index: 9999;

	#logo {
		max-width: 225px;
		padding-top: 12px;
		padding-left: 12px;
	}
}

// Search, Call or Menu
#mobile-quick-nav {
	background-color: $dgray;

	div {
		cursor: pointer;
		text-align: center;
		padding: 0.71em 0.5em;
		width: 60px;
		text-align: center;

		a, img {
			width: 30px;
		}
	}
}

#menu-burger {
	background-color: $green;
	border: none;
}

.callout {
	display: block;
	text-align: center;
	margin: 40px 0;

	.header-buttons {
		margin: 40px;

		a {
			margin: 5% 0;
		}
	}

	.page-title {
		line-height: 1.2em;
	}

	

	> div {
		float: none;
		margin: 0 auto;
	}
}

.subtitle {
	font-weight: 500;
	font-size: 1.5em;
	color: white;
	margin: 0 auto;
	padding: 5px;
	text-shadow: 5px 1px 10px rgba( $black, 0.5);
}

// Navigation Module
@import "../modules/navigation";

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	background-color: white;
	
	#main {
		margin-top: 10px;
		margin-bottom: 0.5em;
	}
}

iframe {
	border: 5px solid $lgray;
	border-radius: 5px;
}
.hentry {
	background-color: $white;
	margin-bottom: 0.5em;

	footer {
		p {
			margin: 0;
		}
	}
} /* end .hentry */

.entry-content {
	margin-right: 5%;
	margin-left: 5%;
}

section#authorSingle {
	border-top: 3px solid $lgray;
	padding-top: 60px;
}

/*********************
SECTION STYLES
*********************/

// Header BG if there is no picture loaded
.default-bg {
	background-image: url('../images/bg/pattern.svg');
	background-size: 10%;
	background-repeat: repeat;

	h1, p {
		color: $gray;
	}
}

section {
	// Don't show the slant on mobile
	padding: 0;
	margin-top: 20px;
	margin-bottom: 40px;

	.topic {
		background-image: transparent;
	
		.slant {
			display: none;
		}
	}

	aside {
		background-color: white;
		text-align: left;
		margin-top: 0px;
		padding: 0;
		bottom: 0;
		top: auto;
		
		a {
			margin-top: 10px;
		}
	}
}

.panel {
	height: auto;
	background: none;
}

/*********************
FOOTER STYLES
*********************/

footer {
	clear: both;
	background-color: $dgray;
	color: $lgray;
}

.footer-links {

	ul {
		li {
			padding: 10px 5px;
			border-bottom: 2px solid $dgray;
			transition: .5s;

			&:hover, &:focus {
				background-color: $gray;
				transition: .5s;
			}
			
			a {
				display: block;
				padding: 1.2em;
				color: $white;	
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 600;

				// &:hover, &:focus {
				// 	background-color: lighten($gray, 2%);
				// 	transition: $trans;
				// }
			}
		}
	}
}

.copyright {
	font-size: 0.75em;
}
